<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h4>Trang html Demo</h4>
  <a href="{% url 'store' %}"> Bam vao day de qua store </a>
  {% for user in users %}  
    <p>ID: {{user.id}}</p>
    <p>USERNAME: {{user.username}}</p>
    <p>PASSWORD: {{user.password}}</p>
    <p>*******************</p>
  {% endfor %}
</body>
</html>
