{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="py-4 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h4>Edenthought...Simplicity at it's finest.</h4>
      <br />
      <p class="lead text-muted">Browse our extensive collection.</p>
      <br />
      <a href="#" class="btn btn-primary my-2"> Create an account </a>
    </div>
  </div>
</section>
<div class="container">
  <div class="row">
    {% for product in my_product %}
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img src="/media/{{ product.image }}" class="card-img-top fit-content" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product.title}}</h5>
          <p class="card-text">{{product.description}}</p>
          <a href="{{product.get_absolute_url}}" class="btn btn-primary">{{product.price}}</a>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
</div>
{% endblock %}
